# Pallavi Yenigalla 2611733530

#### 2. K-Means Clustering on a Multi-Class and Multi-Label Data Set

In [167]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.metrics import calinski_harabaz_score

#### Creating separate dataframes for train and dividing the labels into three different dataframes namely Family,SPecies and Genus

In [168]:
df=pd.read_csv("Frogs_MFCCs.csv")
df.drop('RecordID', axis=1, inplace=True)
df.head()
y=df[["Family","Genus","Species"]]
Family=y[["Family"]]
Genus=y[["Genus"]]
Species=y[["Species"]]
X=df.drop(["Family","Genus","Species"],axis=1)
X.head()

,MFCCs_ 1,MFCCs_ 2,MFCCs_ 3,MFCCs_ 4,MFCCs_ 5,MFCCs_ 6,MFCCs_ 7,MFCCs_ 8,MFCCs_ 9,MFCCs_10,...,MFCCs_13,MFCCs_14,MFCCs_15,MFCCs_16,MFCCs_17,MFCCs_18,MFCCs_19,MFCCs_20,MFCCs_21,MFCCs_22
0,1.0,0.152936,-0.105586,0.200722,0.317201,0.260764,0.100945,-0.150063,-0.171128,0.124676,...,-0.156436,0.082245,0.135752,-0.024017,-0.108351,-0.077623,-0.009568,0.057684,0.118680,0.014038
1,1.0,0.171534,-0.098975,0.268425,0.338672,0.268353,0.060835,-0.222475,-0.207693,0.170883,...,-0.254341,0.022786,0.163320,0.012022,-0.090974,-0.056510,-0.035303,0.020140,0.082263,0.029056
2,1.0,0.152317,-0.082973,0.287128,0.276014,0.189867,0.008714,-0.242234,-0.219153,0.232538,...,-0.237384,0.050791,0.207338,0.083536,-0.050691,-0.023590,-0.066722,-0.025083,0.099108,0.077162
3,1.0,0.224392,0.118985,0.329432,0.372088,0.361005,0.015501,-0.194347,-0.098181,0.270375,...,-0.317084,-0.011567,0.100413,-0.050224,-0.136009,-0.177037,-0.130498,-0.054766,-0.018691,0.023954
4,1.0,0.087817,-0.068345,0.306967,0.330923,0.249144,0.006884,-0.265423,-0.172700,0.266434,...,-0.298524,0.037439,0.219153,0.062837,-0.048885,-0.053074,-0.088550,-0.031346,0.108610,0.079244

#### (a) Use k-means clustering on Anuran Calls (MFCCs) Data Set of Homework 4. Choose k automatically based on one of the methods provided in the slides (CH or Gap Statistics or scree plots) or any other method you know.

We observe that the number of clusters is 4 by using silhouette score

In [92]:
from sklearn.metrics import silhouette_score
num_clusters=np.arange(2,10)
results={}
for size in num_clusters:
    model=KMeans(n_clusters=size).fit(X)
    predictions=model.predict(X)
    results[size]=silhouette_score(X,predictions)
best_size=max(results,key=results.get)
print(best_size)

4

#### (b) In each cluster, determine which family is the majority by reading the true labels. Repeat for genus and species.

In [103]:

kmeans=KMeans(n_clusters=4).fit(X)
clusters=kmeans.labels_


index0 = np.argwhere(clusters == 0)
index1 = np.argwhere(clusters == 1)
index2 = np.argwhere(clusters == 2)
index3 = np.argwhere(clusters == 3)


family1=pd.DataFrame(columns=['Family'])
g1=pd.DataFrame(columns=['Genus'])
s1=pd.DataFrame(columns=['Species'])

family2=pd.DataFrame(columns=['Family'])
g2=pd.DataFrame(columns=['Genus'])
s2=pd.DataFrame(columns=['Species'])

family3=pd.DataFrame(columns=['Family'])
g3=pd.DataFrame(columns=['Genus'])
s3=pd.DataFrame(columns=['Species'])

family4=pd.DataFrame(columns=['Family'])
g4=pd.DataFrame(columns=['Genus'])
s4=pd.DataFrame(columns=['Species'])

####  Printing out the value counts of family, genus and species in the 4 clusters.

In [134]:
family1=Family.iloc[index0]
print("Cluster1 Family")
print(family1['Family'].value_counts())


family2=Family.iloc[index1]
print("Cluster2 Family")
print(family2['Family'].value_counts())

family3=Family.iloc[index2]
print("Cluster3 Family")
print(family3['Family'].value_counts())

family4=Family.iloc[index1]
print("Cluster4 Family")
print(family4['Family'].value_counts())

print("\n")
print("SPECIES")
print("\n")
s1=Species.iloc[index0]
print("Cluster1 SPECIES")
print(s1['Species'].value_counts())


print("\n")
s2=Species.iloc[index1]
print("Cluster2 SPECIES")
print(s2['Species'].value_counts())


print("\n")
s3=Species.iloc[index2]
print("Cluster3 SPECIES")
print(s3['Species'].value_counts())

print("\n")
s4=Species.iloc[index3]
print("Cluster4 SPECIES")
print(s4['Species'].value_counts())

print("\n")
print("GENUS")
print("\n")
g1=Genus.iloc[index0]
print("Cluster1 GENUS")
print(g1['Genus'].value_counts())


print("\n")
g2=Genus.iloc[index1]
print("Cluster2 GENUS")
print(g2['Genus'].value_counts())

print("\n")
g3=Genus.iloc[index2]
print("Cluster3 GENUS")
print(g2['Genus'].value_counts())

print("\n")
g4=Genus.iloc[index3]
print("Cluster4 GENUS")
print(g4['Genus'].value_counts())

Cluster1 Family
Leptodactylidae    3468
Hylidae              91
Name: Family, dtype: int64
Cluster2 Family
Leptodactylidae    3467
Hylidae             101
Name: Family, dtype: int64
Cluster3 Family
Hylidae            1244
Leptodactylidae     628
Bufonidae            66
Dendrobatidae        42
Name: Family, dtype: int64
Cluster4 Family
Leptodactylidae    3467
Hylidae             101
Name: Family, dtype: int64


SPECIES


Cluster1 SPECIES
AdenomeraHylaedactylus    3466
HylaMinuta                  70
HypsiboasCordobae           14
ScinaxRuber                  7
LeptodactylusFuscus          2
Name: Species, dtype: int64


Cluster2 SPECIES
AdenomeraHylaedactylus    3466
HylaMinuta                  86
HypsiboasCordobae           12
ScinaxRuber                  3
LeptodactylusFuscus          1
Name: Species, dtype: int64


Cluster3 SPECIES
HypsiboasCordobae         1017
AdenomeraAndre             370
LeptodactylusFuscus        253
ScinaxRuber                 96
OsteocephalusOophagus       76
Rhinellagranulosa           66
Ameeregatrivittata          42
HylaMinuta                  35
HypsiboasCinerascens        20
AdenomeraHylaedactylus       5
Name: Species, dtype: int64


Cluster4 SPECIES
HypsiboasCinerascens      452
HypsiboasCordobae          91
OsteocephalusOophagus      38
LeptodactylusFuscus        10
ScinaxRuber                10
AdenomeraHylaedactylus      7
AdenomeraAndre              6
Rhinellagranulosa           2
Name: Species, dtype: int64


GENUS


Cluster1 GENUS
Adenomera        3466
Dendropsophus      70
Hypsiboas          14
Scinax              7
Leptodactylus       2
Name: Genus, dtype: int64


Cluster2 GENUS
Adenomera        3466
Dendropsophus      86
Hypsiboas          12
Scinax              3
Leptodactylus       1
Name: Genus, dtype: int64


Cluster3 GENUS
Adenomera        3466
Dendropsophus      86
Hypsiboas          12
Scinax              3
Leptodactylus       1
Name: Genus, dtype: int64


Cluster4 GENUS
Hypsiboas        543
Osteocephalus     38
Adenomera         13
Scinax            10
Leptodactylus     10
Rhinella           2
Name: Genus, dtype: int64

#### The largest family, genus and species group in clusters 1-4 respectively

In [141]:
print("FAMILY CLUSTERS 1-4")
print("\n")
print(family1['Family'].value_counts().index.values[0])
print(family2['Family'].value_counts().index.values[0])
print(family3['Family'].value_counts().index.values[0])
print(family4['Family'].value_counts().index.values[0])
print("\n")
print("SPECIES CLUSTERS 1-4")
print("\n")
print(s1['Species'].value_counts().index.values[0])
print(s2['Species'].value_counts().index.values[0])
print(s3['Species'].value_counts().index.values[0])
print(s4['Species'].value_counts().index.values[0])
print("\n")
print("GENUS CLUSTERS 1-4")
print("\n")
print(g1['Genus'].value_counts().index.values[0])
print(g2['Genus'].value_counts().index.values[0])
print(g3['Genus'].value_counts().index.values[0])
print(g4['Genus'].value_counts().index.values[0])

FAMILY CLUSTERS 1-4


Leptodactylidae
Leptodactylidae
Hylidae
Leptodactylidae


SPECIES CLUSTERS 1-4


AdenomeraHylaedactylus
AdenomeraHylaedactylus
HypsiboasCordobae
HypsiboasCinerascens


GENUS CLUSTERS 1-4


Adenomera
Adenomera
Hypsiboas
Hypsiboas

####  2(c) Now for each cluster you have a majority label triplet (family, genus, species). Calculate the average Hamming distance between the true labels and the labels assigned by clusters.

#### Hamming score for each of family,species and label is found out by using the predictions from the Kmeans clustering and the true labels.

In [170]:
from sklearn.metrics import hamming_loss
pred=kmeans.predict(X)
pf=pred
pg=pred
ps=pre

new_family=pd.DataFrame(pf,columns=Family.columns)
new_genus=pd.DataFrame(pg,columns=Genus.columns)
new_species=pd.DataFrame(ps,columns=Species.columns)

new_family=new_family.replace((0,1,2,3),('Leptodactylidae ',' Leptodactylidae','Hylidae ','Leptodactylidae '))
new_genus=new_genus.replace((0,1,2,3),('Adenomera ','Adenomera ','Hypsiboas','Hypsiboas'))
new_species=new_species.replace((0,1,2,3),('AdenomeraHylaedactylus ','AdenomeraHylaedactylus','HypsiboasCordobae','HypsiboasCinerascens'))

family_hscore=hamming_loss(Family,new_family)
print("hamming score for family is")
print(family_hscore)

genus_hscore=hamming_loss(Genus,new_genus)
print("hamming score for genus is")
print(genus_hscore)

species_hscore=hamming_loss(Species,new_species)
print("hamming score for species is")
print(species_hscore)

hamming score for family is
1.0
hamming score for genus is
0.857123002085
hamming score for species is
0.869770674079